parameters:
    level: 6
    paths:
        - src
        - tests
    scanFiles:
        - migrations/Version20260721231728.php
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: phpstan-doctrine.php
    strictRules:
        noVariableVariables: false
    ignoreErrors:
        - message: "#^Property App\\\\Entity\\\\.*\\:\\:\\$id \\(int\\|null\\) is never assigned int so it can be removed from the property type\\.$#"

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
